
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Slider -->
<div class="slider">
    <div class="container">
        <div id="carouselExample" class="carousel slide touch" data-bs-ride="carousel" data-bs-interval="5000" data-bs-touch="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-lg-5 ps-md-4">
                            <h1 class="mb-4 fw-bold fs-2 text-light">Khoa học máy tính</h1>
                            <p class="mb-4 slide-caption opacity-50 fs-6 text-light">
                                Khám phá thế giới công nghệ với những chiếc máy tính hiện đại!
                                Từ sự tiến hóa của máy tính đến những bộ não nhân tạo thông minh, mỗi trang sách mở ra cánh cửa đến vũ trụ lập trình và những khả năng vô tận.
                                Máy tính không chỉ là công cụ mà còn là chìa khóa mở ra tương lai, sẵn sàng chờ đợi bạn khám phá!
                            </p>
                            <a href="" class="btn rounded-5 px-4 py-2 fs-5 fw-medium text-light explore">Xem ngay</a>
                        </div>

                        <div class="col-sm-12 col-lg-7 pt-5 pt-lg-0 slide-img">
                            <img src="~/Content/images/comic.png" alt="slide image">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-lg-5 ps-md-4">
                            <h1 class="mb-4 fw-bold fs-2 text-light">Khám phá khoa học</h1>
                            <p class="mb-4 slide-caption opacity-50 fs-6 text-light">
                                Kích thích sự tò mò và khám phá với cuốn sách khoa học đầy màu sắc,
                                mang đến những hiểu biết mới mẻ và hấp dẫn cho các trẻ nhỏ!
                            </p>
                            <a href="" class="btn rounded-5 px-4 py-2 fs-5 fw-medium text-light explore">Xem ngay</a>
                        </div>

                        <div class="col-sm-12 col-lg-7 pt-5 pt-lg-0 slide-img">
                            <img src="~/Content/images/science.png" alt="slide image">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-lg-5 ps-md-4">
                            <h1 class="mb-4 fw-bold fs-2 text-light">Cùng nhau vào bếp</h1>
                            <p class="mb-4 slide-caption opacity-50 fs-6 text-light">
                                Khám phá hương vị thế giới và học cách trở thành đầu bếp tài ba với những công thức đơn giản
                                và ngon miệng từ cuốn sách nấu ăn độc đáo này!
                                Từ món ăn truyền thống đến những món mới lạ, tất cả đều sẽ được tiết lộ bí mật trong từng trang sách,
                                mang lại cho bạn trải nghiệm ẩm thực tuyệt vời nhất.
                            </p>
                            <a href="" class="btn rounded-5 px-4 py-2 fs-5 fw-medium text-light explore">Xem ngay</a>
                        </div>

                        <div class="col-sm-12 col-lg-7 pt-5 pt-lg-0 slide-img">
                            <img src="~/Content/images/cooking.png" alt="slide image">
                        </div>
                    </div>
                </div>
            </div>

            <button class="d-none d-md-block carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <i class="fa-solid fa-angle-left"></i>
            </button>

            <button class="d-none d-md-block carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
    </div>
</div>
