<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/user.css">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>
    <div class="v-main">
        @{ Html.RenderPartial("LeftMenuUser"); }

        @RenderBody()
    </div>
    


    <script src="~/Content/js/orders.js"></script>
    <script src="~/Content/js/index.js"></script>
</body>

</html>
