
<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <img src="images/logo.png">
                <h2>My<span class="danger">Book</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">
                    close
                </span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">
                <span class="material-icons-sharp">
                    person
                </span>
                <h3>Tôi</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    favorite
                </span>
                <h3>Yêu thích</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    history
                </span>
                <h3>Lịch sử</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    report_problem
                </span>
                <h3>Reports</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    settings
                </span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    add
                </span>
                <h3>New Login</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    logout
                </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section -->

</div>
