
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; margin: 0; background-color: #f4f4f4; /* Màu nền đều */ font-family: Arial, sans-serif; flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
    <h1 style="margin: 0; font-size: 2em; color: #333;">Chào Mừng Quay Trở Lại</h1>
</body>

