@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .login-container {
            width: 300px;
            margin: 0 auto;
            background: #f9f9f9;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 100px;
        }

            .login-container h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .login-container input[type="text"],
            .login-container input[type="password"] {
                width: calc(100% - 20px);
                padding: 8px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 3px;
            }

            .login-container input[type="submit"] {
                width: 100%;
                padding: 10px;
                border: 0;
                background: #333;
                color: #fff;
                border-radius: 3px;
                cursor: pointer;
            }

                .login-container input[type="submit"]:hover {
                    background: #555;
                }

        .register-link a {
            color: black;
            margin-left: 50px;
        }

        .error {
            color: red;
            margin-top: 10px;
            text-align: center;
        }

        color:black;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form action="~/Account/Login" method="post">
            <input type="text"  id="username" name="username" placeholder="User Name" required>
            <input type="password"  id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <div class="register-link">
            <p>You don't have account? <a href="~/Account/Register">Register</a></p>
        </div>
        <div class="error">
            @ViewBag.Error
        </div>
    </div>
</body>

</html>

